.comment__list {
  max-width: 80%;
  margin: auto;
}

.comment__list__item {
  background-color: cornsilk;
  border: 1px solid black;
  border-radius: 15px;
  list-style: none;
  margin: auto;
  margin-top: 6px;
  max-width: 90%;
  padding: 5px;
}

.no__comments {
  background-color: cornsilk;
  border: 1px solid black;
  border-radius: 15px;
  list-style: none;
  margin: auto;
  margin-top: 6px;
  max-width: 90%;
}
