.comment__list {
  max-width: 80%;
  margin: auto;
}

.comment__list__item {
  background-color: cornsilk;
  border: 1px solid black;
  border-radius: 15px;
  list-style: none;
  margin: 6px;
  max-width: 90%;
}
