#individual__card__title {
  border: outset rgb(205, 161, 104) 5px;
  border-radius: 30px;
  margin: auto;
  margin-top: 15px;
  padding: 15px;
  padding-inline: 50px;
  width: 60%;
}

#individual__review {
  background-color: rgb(239, 212, 177);
  border: outset rgb(205, 161, 104) 5px;
  border-radius: 30px;
  margin: auto;
  margin-top: 175px;
  width: 80%;
}

.review__list__img {
  border: outset rgb(205, 161, 104) 5px;
  border-radius: 5px;
  box-shadow: 2px 2px black;
  max-height: 20rem;
  margin: 10px;
  width: 40%;
}

.title__regular {
  background-color: tan;
}

.title__bronze {
  background-image: url("../Images/Bronze.webp");
}

.title__silver {
  background-image: url("../Images/Silver.jpeg");
}

.title__gold {
  background-image: url("../Images/Gold.jpeg");
}

@media only screen and (min-width: 492px) {
  #individual__review {
    margin-top: 135px;
  }
}

#flexy {
  display: flexbox;
}

@media only screen and (min-width: 700px) {
  #flexy {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
