#grid__loader {
  color: rgb(205, 161, 104);
}

#review__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

@media only screen and (min-width: 492px) {
  #review__list {
    flex-direction: row;
  }
}
