* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

header {
  background-color: tan;
  border-bottom: ridge tan 15px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  margin-bottom: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
